<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>COMPSCI 235 Games Library</title>
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;800&family=Montserrat:wght@700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">


</head>


<body>
        {%include 'header.html' %}
        <div id="content">
             {%include 'navigation.html' %}
            <div id ="games-content">
                <div id="container">
                    {% block content %} {% endblock %}
                </div>
                {% with genres = genres_list, publishers = publishers %}
                    {%include 'genres_sidebar.html' %}
                {% endwith %}
            </div>
        </div>
        {% include 'footer.html' %}
</body>
</html>